@import '../../main.scss';

// General Style + Smartphone Media
.error__container {
  align-items: center;
  display: flex;
  background-color: $background-color2;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
  padding: 0;
}

.error__main__container {
  align-items: center;
  display: flex;
  overflow: overlay !important;
  height: inherit;
  padding: 1.5rem;
}

.error__container > h1 {
  color: $primary-color;
}

.error__container > p {
  color: $primary-color;
}

// Tablet Media
@media (min-width: 768px) {
  .error__container {
    height: 87.5vh;
  }

  .error__main__container {
    padding: 2rem 3.5rem;
  }
}

// Desktop Media
@media (min-width: 1024px) {
  .error__container {
    height: 80vh;
  }

  .error__main__container {
    padding: 2rem 3.5rem;
  }
}